.blue {
  height: 110px;
  line-height: 110px;
}


body {
  background-image: url('https://images.pexels.com/photos/164527/pexels-photo-164527.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

.nav-wrapper {
  position: relative;
  top: 0;
}

.nav {
  background-color: blue;
}
